[Desktop Entry]
Type=Application
Name=AugVK Messenger
GenericName=AugVK Messenger
Exec=augvk
Terminal=false
Icon=/usr/share/pixmaps/augvk.png
X-Purism-FormFactor=Workstation;Mobile;
